.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  height: 50px;
  width: 50px;
  /* border: 1px; */
  background-image: url(https://picsum.photos/200);
  background-size: cover;
  border-radius: 49%;
}

nav {
  display: flex
}
/* nn */
nav>a {
  padding: 8px;
  border: 1px solid;
  text-decoration: none;
  color: black;
}

.banner-image {
  border: 1px solid;
  height: 500px;
}

.about-content {
  border: 1px solid;
  height: 500px;
}

.portfolio-content {
  border: 1px solid;
  height: 500px;
}

.messageus-content {
  border: 1px solid;
  height: 500px;
}

footer {
  text-align: center;
}